
html{
    background: linear-gradient(to bottom,rgb(87, 30, 30),white);
    min-height: 100%;
}
h1{
    padding-left: 60px;
    font-family: "Brush Script MT", cursive;;
    background: transparent;
    font-size: 65px;
}
.book2{
    display: flex;
    flex-direction: column;
    width: 200px;
}
p{
    font-family: 'Gill Sans';
    background: transparent;
    text-align: center;
    font-size: large;
    
}
#books{
    display: flex;
    background: transparent;
    gap: 100px;
    justify-content: center;
    padding: 20px;
    
}
.book1{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.book{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    
}
.button{
    color: white;
    background-color: rgb(126, 36, 36);
    text-align: center;
    
}
.btn{
    margin-top: 10px;
    background-color: rgb(126, 36, 36);
    text-align: center;
    border-radius: 60px; /* Gives it a sleek, pill-shaped design */
    transition: all 0.10s ease; /* Smooth transition for the hover effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    color: black;
}
.btn:hover{
    background-color: rgb(92, 39, 39);
    
}
